@font-face {
  font-family: "Roboto";
  src: url(./fonts/Roboto.ttf) format("truetype");
}

#root,
body {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  background-color: rgb(240, 242, 245);
  font-family: Roboto, sans-serif;
  overflow-x: hidden;
}
.input {
  width: 100%;
}
.w-100 {
  width: 100%;
}
.card-form-input {
  margin-top: 30px;
}
.card-form-input.switch {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.card-title {
  font-size: 30px;
  color: rgb(52, 71, 103);
}
.card-btn-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}
.card-btn-container.dual {
  justify-content: space-between;
}

.card-btn {
  width: 100%;
  transition: all 0.4s ease-in-out;
}

.card-btn.dual {
  width: 45%;
  padding: 15px;
}
.card-btn.cancel {
  background: linear-gradient(to left, transparent 50%, #fb246a 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  border: 1px solid #fb246a;
  color: #fb246a;
}

.card-btn.cancel:hover {
  background-position: left bottom;
  color: white;
}
.switch-title {
  margin-right: 10px;
  color: rgba(52, 71, 103, 0.8);
  font-weight: bolder;
}
.switch-container {
  margin: 0px 5px;
}
.switch-value-label {
  color: #22264c;
  font-weight: bolder;
}
.table-card {
  position: relative;
  margin-top: 80px;
  width: 100% !important;
}
.isCheck {
  color: #155724;
}
.isNotChecked {
  color: #fb246a;
}
.action-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.action-btn {
  color: white;
  padding: 7px;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  margin-right: 20px;
  cursor: pointer;
}
.action-btn.edit {
  background-color: rgb(26, 115, 232);
}
.action-btn.delete {
  background-color: #fb246a;
}
.add-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.add-btn {
  padding: 15px;
  background: rgba(0, 0, 0, 0)
    linear-gradient(195deg, rgb(73, 163, 241), rgb(26, 115, 232)) repeat scroll
    0% 0%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.add-btn span {
  display: flex;
  margin-right: 10px;
}
.table-pagination-container {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.custom-input {
  color: white;
  border-color: #fff;
}

.search-input .MuiInput-underline {
  color: white !important;
  border-bottom-color: white !important;
}

.search-input .MuiInput-underline::before {
  border-bottom-color: white !important;
}

.search-input .MuiInput-underline::after {
  border-bottom-color: whitesmoke !important;
}

.search-input .MuiInput-underline:hover:not(.Mui-disabled):before {
  border-bottom-color: #fcfbfc !important;
}

.search-input .MuiInput-input {
  color: white !important;
}
.justify-flex-end {
  justify-content: flex-end;
}
.center {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.center span {
  margin-left: 5px;
}

/* Mobile devices */
@media (max-width: 813px) {
  .card-btn-container.dual {
    flex-direction: column-reverse;
  }
  .card-btn.dual {
    width: 100%;
    margin-top: 20px;
  }
}
