.card {
  background-color: rgb(255, 255, 255);
  background-clip: border-box;
  border: 0px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.75rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0rem 0.25rem 0.375rem -0.0625rem,
    rgba(0, 0, 0, 0.06) 0rem 0.125rem 0.25rem -0.0625rem;
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}
@media (min-width: 768px) and (max-width: 1080px) {
  .card {
    width: 90%;
  }
}

/* Mobile devices */
@media (max-width: 813px) {
  .card {
    width: 90%;
  }
}
