/* index.css */
.table-container {
  overflow-x: auto;
  margin: 20px;
  padding-top: 25px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  padding: 8px;
  vertical-align: middle; /* Align content vertically in the middle of cells */
  border-bottom: 0.0625rem solid rgb(240, 242, 245);
}
td {
  color: rgb(52, 71, 103);
}
th {
  position: relative;
  text-align: left;
  opacity: 0.7;
  background: transparent none repeat scroll 0% 0%;
  color: rgb(123, 128, 154);
  box-shadow: none;
  font-size: 0.65rem;
  font-weight: 700;
  text-transform: uppercase;
}

.user-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.tenant-user-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.user-name {
}
.table-title {
  padding: 24px 16px;
  opacity: 1;
  background: rgba(0, 0, 0, 0)
    linear-gradient(195deg, rgb(73, 163, 241), rgb(26, 115, 232)) repeat scroll
    0% 0%;
  color: rgb(52, 71, 103);
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.14) 0rem 0.25rem 1.25rem 0rem,
    rgba(0, 187, 212, 0.4) 0rem 0.4375rem 0.625rem -0.3125rem;
  color: white;
  position: absolute;
  width: 96%;
  box-sizing: border-box;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: -50px;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
